html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  box-shadow: rgba(255, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 40%;
}
.container-category1,
.container-category2,
.container-category3 {
  width: 30%;
}

p {
  width: 100%;
  text-align: center;
  font-family: 'Paquito', serif;
  font-size: 1.5em;
  margin: 10px;
}

p:first-child {
  margin: 0;
}

img{
  width: 100%;
}

button {
  font-family: 'Paquito', serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: red;
  font-weight: 900;
  outline: none;
  border: none;
  background-color: black;
  width: 45%;
  padding: 10px 0;
  margin: 10px 0;
}

button:active,
button:hover {
  box-shadow: rgba(255, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.active {
  box-shadow: rgba(255, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.noactive {
  pointer-events: none;
  cursor: default;
}

@media screen and (max-width:535px) {
  .wrapper {
    width: 75%;
  }
  .container-category1,
  .container-category2,
  .container-category3 {
    width: 30%;
  }
  button {
    font-size: 1.3em;
  }
}